<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/app.css')}}"
    />
    <title>FFXIV Party Builder</title>
  </head>
  <body>
    <main class="flex main-login-register">
      <header class="welcome-banner">
        <span>Welcome to the</span>
        <h1>FFXIV Party Builder App</h1>
        <p class="welcome-banner__description">
          This app uses the <a href="https://xivapi.com/">XIVAPI</a> REST API,
          allowing users to create their dream team for both light(4-person) and
          full(8-person) parties.
        </p>
      </header>
      <div class="flex forms-container">
        <form class="register-form" action="" method="POST">
          <h2 class="form-heading">Register Account</h2>
          <div class="form-group">
            <label for="username">Username: </label>
            <input type="text" id="username" name="username" />
          </div>
          <div class="form-group">
            <label for="email">Email: </label>
            <input type="text" id="email" name="email" />
          </div>
          <div class="form-group">
            <label for="password">Password: </label>
            <input type="password" id="password" name="password" />
          </div>
          <div class="form-group">
            <label for="confirm_pw">Confirm Password: </label>
            <input type="password" id="confirm_pw" name="confirm_pw" />
          </div>
          <button>Register</button>
        </form>
        <form class="login-form" action="" method="POST">
          <h2 class="form-heading">Login to Account:</h2>
          <div class="form-group">
            <label for="login_username">Username: </label>
            <input type="text" id="login_username" name="username" />
          </div>

          <div class="form-group">
            <label for="login_password">Password: </label>
            <input type="password" id="login_password" name="password" />
          </div>
          <button>Login</button>
        </form>
      </div>
    </main>
  </body>
</html>
