<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/app.css" />
    <title>Search Characters</title>
  </head>
  <body>
    <header>
      <nav class="navigator">
        <ul>
          <li><a href="#">Change Character</a></li>
          <li><a href="#">Search For Members</a></li>
          <li><a href="#">Logout</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <div class="form_container">
        <form class="search_characters_form">
          <div class="form_group">
            <label for="character_name">Character Name: </label>
            <input
              id="character_name"
              type="text"
              placeholder="Character Name"
            />
          </div>
          <div class="form_group">
            <label for="server_name">Server Name: </label>
            <select name="server_name" id="server_name">
              <optgroup label="Japanese Data Center">
                <option value="Aegis">Aegis</option>
                <option value="Atomos">Atomos</option>
                <option value="Carbuncle">Carbuncle</option>
                <option value="Garuda">Garuda</option>
                <option value="Gungnir">Gungnir</option>
                <option value="Kujata">Kujata</option>
                <option value="Ramuh">Ramuh</option>
                <option value="Tonberry">Tonberry</option>
                <option value="Typhon">Typhon</option>
                <option value="Unicorn">Unicorn</option>
                <option value="Alexander">Alexander</option>
                <option value="Bahamut">Bahamut</option>
                <option value="Durandal">Durandal</option>
                <option value="Fenrir">Fenrir</option>
                <option value="Ifrit">Ifrit</option>
                <option value="Ridill">Ridill</option>
                <option value="Tiamat">Tiamat</option>
                <option value="Ultima">Ultima</option>
                <option value="Valefor">Valefor</option>
                <option value="Yojimbo">Yojimbo</option>
                <option value="Zeromus">Zeromus</option>
                <option value="Anima">Anima</option>
                <option value="Asura">Asura</option>
                <option value="Belias">Belias</option>
                <option value="Chocobo">Chocobo</option>
                <option value="Hades">Hades</option>
                <option value="Ixion">Ixion</option>
                <option value="Mandragora">Mandragora</option>
                <option value="Masamune">Masamune</option>
                <option value="Pandaemonium">Pandaemonium</option>
                <option value="Shinryu">Shinryu</option>
                <option value="Titan">Titan</option>
              </optgroup>
              <optgroup label="North American Data Center">
                <option value="Adamantoise">Adamantoise</option>
                <option value="Cactuar">Cactuar</option>
                <option value="Faerie">Faerie</option>
                <option value="Gilgamesh">Gilgamesh</option>
                <option value="Jenova">Jenova</option>
                <option value="Midgardsormr">Midgardsormr</option>
                <option value="Sargatanas">Sargatanas</option>
                <option value="Siren">Siren</option>
                <option value="Behemoth">Behemoth</option>
                <option value="Excalibur">Excalibur</option>
                <option value="Exodus">Exodus</option>
                <option value="Famfrit">Famfrit</option>
                <option value="Hyperion">Hyperion</option>
                <option value="Lamia">Lamia</option>
                <option value="Leviathan">Leviathan</option>
                <option value="Ultros">Ultros</option>
                <option value="Balmung">Balmung</option>
                <option value="Brynhildr">Brynhildr</option>
                <option value="Coeurl">Coeurl</option>
                <option value="Diabolos">Diabolos</option>
                <option value="Goblin">Goblin</option>
                <option value="Malboro">Malboro</option>
                <option value="Mateus">Mateus</option>
                <option value="Zalera">Zalera</option>
              </optgroup>
              <optgroup label="European Data Center">
                <option value="Cerberus">Cerberus</option>
                <option value="Louisoix">Louisoix</option>
                <option value="Moogle">Moogle</option>
                <option value="Omega">Omega</option>
                <option value="Ragnarok">Ragnarok</option>
                <option value="Spriggan">Spriggan</option>
                <option value="Lich">Lich</option>
                <option value="Odin">Odin</option>
                <option value="Phoenix">Behemoth</option>
                <option value="Shiva">Shiva</option>
                <option value="Twintania">Twintania</option>
                <option value="Zodiark">Zodiark</option>
              </optgroup>
              <optgroup label="Oceanic Data Center">
                <option value="Bismarck">Bismarck</option>
                <option value="Ravana">Ravana</option>
                <option value="Sephirot">Sephirot</option>
                <option value="Sophia">Sophia</option>
                <option value="Zurvan">Zurvan</option>
              </optgroup>
            </select>
          </div>
          <button>Search</button>
        </form>
      </div>
      <div class="search_results_container"></div>
    </main>
    <script src="../static/js/script.js"></script>
  </body>
</html>
