<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/app.css')}}"
    />
    <title>FFXIV Party Builder || Character Name Here</title>
  </head>
  <body>
    <header>
      <nav class="navigator">
        <ul>
          <li><a href="#">Change Character</a></li>
          <li><a href="#">Search For Members</a></li>
          <li><a href="#">Logout</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <div id="show-one-char"></div>
    </main>

    <script src="../static/js/get_one_character.js"></script>
    <script>
      let char_id = {{characterID}}
      console.log(char_id)
      displayCharacter(char_id)
    </script>
  </body>
</html>
