<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <main>
      <section class="welcome-container">
        <h1>Welcome to FFXIV Party Builder!</h1>
        <p>I see this is your first time logging in...</p>
        <p>Let's go look for your character!</p>
        <form action="">
          <div class="form-group">
            <label for="character_name"></label>
            <input id="character_name" type="text" name="character_name" />
          </div>
          <div class="form-group">
            <label for="server_name">Server Name: </label>
            <select name="server_name" id="server_name">
              <option value="">Server name</option>
              <option value="">Server name</option>
              <option value="">Server name</option>
              <option value="">Server name</option>
              <option value="">Server name</option>
            </select>
          </div>
          <button>Search</button>
        </form>
      </section>
    </main>
  </body>
</html>
