:root {
  --color-black: 0 0% 0%;
  --color-white: 0 100% 100%;
  --color-off-white: 0 0% 79%;
  --color-grey-1: 0 0% 15%;
  --color-grey-2: 0 0% 35%;
  --color-grey-3: 0 0% 50%;
  --color-primary-orange: 39 79% 54%;
  --color-primary-purple: 292 58% 53%;
  --default-font-size: 1.6rem;
  --primary-font: "Poppins";
  --sub-font: "Work Sans";
}

.dark-theme {
  --color-thumb: var(--color-white);
  --color-track: var(--color-black);
  --color-page-background: var(--color-grey-1);
  --color-text: var(--color-white);
  --container-bg: var(--color-grey-2);
  --color-primary: var(--color-primary-orange);
  --nav-bg: var(--color-grey-2);
  --project-link-bg: var(--color-grey-1);
  --text-selection: var(--color-primary-orange);
}

.light-theme {
  --color-thumb: var(--color-grey-1);
  --color-track: var(--color-white);
  --color-page-background: var(--color-white);
  --color-text: var(--color-black);
  --container-bg: var(--color-off-white);
  --color-primary: var(--color-primary-purple);
  --nav-bg: var(--color-off-white);
  --project-link-bg: var(--color-white);
  --text-selection: var(--color-primary-purple);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /*Automatically inherits what is specified by on the later border-box*/
}

*::selection {
  color: hsl(var(--color-white));
  background-color: hsl(var(--text-selection));
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  position: relative;
  box-sizing: border-box;
  background-color: hsl(var(--color-grey-2));
  min-height: 100vh;
}

body::-webkit-scrollbar {
  width: 1rem;
}

body::-webkit-scrollbar-track {
  background: hsl(var(--color-white));
}

body::-webkit-scrollbar-thumb {
  background: hsl(var(--color-black));
}

main {
  max-width: 70%;
  margin: 0 auto;
}

button {
  cursor: pointer;
}

ul,
li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--primary-font), sans-serif;
}

.section {
  padding-top: 3rem;
}

.inner-container {
  margin: 0 auto 4rem;
  width: 90%;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

textarea {
  resize: none;
}

.form-group {
  font-size: 2rem;
  font-family: sans-serif;
}

.form-group > * {
  display: block;
}

.navigator {
  max-width: 70%;
  margin: 0 auto;
}
.navigator .nav_links {
  gap: 2rem;
  font-size: 2.6rem;
}
.main-welcome {
  justify-content: center;
}

.welcome-container {
  padding-top: 25vh;
}

.welcome-banner {
  text-align: center;
}
.welcome-banner h1 {
  font-size: 4rem;
}
.welcome-banner span {
  font-family: sans-serif;
  font-size: 3rem;
}
.welcome-banner__description {
  font-family: sans-serif;
  font-size: 2.4rem;
  max-width: 70rem;
}

.main-login-register {
  padding-top: 25vh;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}

.forms-container {
  gap: 2rem;
}
.forms-container .form-heading {
  font-size: 2.6rem;
}

.dashboard-container {
  gap: 2rem;
}

.full-party,
.light-party {
  flex-basis: 30rem;
}

.full-party__member-container,
.light-party__member-container {
  position: relative;
}

.full-party {
  max-width: 60rem;
  grid-template-columns: repeat(2, minmax(20rem, 1fr));
  grid-template-rows: repeat(4, 20rem);
  align-items: center;
  gap: 2rem;
  padding: 4rem;
  background-color: #4bd4d4;
}
.full-party__member-container {
  font-size: 1.6rem;
  color: hsl(var(--color-white));
  text-align: center;
  overflow: hidden;
}
.full-party__avatar {
  height: 100%;
  width: 100%;
  object-fit: cover\;;
}
.full-party__member-container-inner {
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  padding: 4rem 2rem;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.8);
  transition: 0.2s ease opacity;
}
.full-party__member-name {
  user-select: none;
  pointer-events: none;
}
.full-party__member-container:hover .full-party__member-container-inner {
  opacity: 1;
}
.full-party__link-container {
  overflow: hidden;
}
.full-party__link-container .party-link {
  font-family: sans-serif;
  color: white;
  text-decoration: none;
  font-size: 1.4rem;
  white-space: nowrap;
}
.full-party__link-container .party-link:hover {
  color: orange;
}

.light-party {
  min-width: 50rem;
  flex-direction: column;
  gap: 2rem;
  padding: 4rem;
  background-color: green;
}
.light-party__member-container, .light-party__member-container-inner {
  flex-direction: column;
}
.light-party__member-container {
  height: 10rem;
  width: 100%;
  font-size: 1.6rem;
  color: hsl(var(--color-white));
  text-align: center;
  overflow: hidden;
}
.light-party__member-container-inner {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  padding: 0 0.5rem;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.8);
  transition: 0.2s ease opacity;
}
.light-party__member-name {
  user-select: none;
  pointer-events: none;
}
.light-party__member-container:hover .light-party__member-container-inner {
  opacity: 1;
}
.light-party__link-container {
  justify-content: center;
  gap: 2rem;
}
.light-party__link-container .party-link {
  font-family: sans-serif;
  color: white;
  text-decoration: none;
  font-size: 1.4rem;
  white-space: nowrap;
}
.light-party__link-container .party-link:hover {
  color: orange;
}
.light-party__avatar {
  height: 100%;
  display: block;
  object-fit: cover;
  object-position: center 60%;
}

.form_container {
  font-size: 2.6rem;
}

/*# sourceMappingURL=app.css.map */
